# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\bartoszkam96\wather app\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
